<div class="container marTop100">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <%= form_for @user do |f|%>

        <div class="form-group">
          <label for="name">Name</label>
          <%= f.text_field :name, placeholder: "Enter Name",class: "form-control"%>
        </div>
          <div class="form-group ">
            <label for="email">Email</label>
            <%= f.email_field :email, placeholder: "Enter Your Email",class: "form-control"%>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <%= f.password_field :password, placeholder: "Enter Password",class: "form-control"%>
          </div>
          <div class="form-group">
                <%= f.submit class: "btn btn-primary", value: "Submit" %>
          </div>
      <% end %>
    </div>
  </div>
</div>