<div class="col-lg-8 col-lg-offset-2">
  <div class="pull-right marTop20 ">
    <%= active_link_to "Add New User", new_user_path,class:"btn btn-primary" %>
  </div>
  <% flash.each do |name,msg| %>
      <b><%= content_tag :div, msg, :id => "flash_#{name}", :class => "alert alert-success col-lg-12" %></b>
  <% end %>
  <table class="table marTop100">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Create At</th>
      <th>Expire Time</th>
      <th colspan="2">Action</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
        <td><%= user.expire_time_user %></td>
        <td><%= active_link_to "Show", user_path(user) %></td>
        <td><%= active_link_to "Edit", edit_user_path(user) %></td>
        <td><%= active_link_to "Delete", user_path(user) ,method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>